#flex-container {
  height: calc(100% - 64px - 64px);
  display: flex;
}

#left-part {
}

#right-part {
  background-color: #999;
}

mat-divider {
  cursor: w-resize;
}

#left-part ::ng-deep .mat-figure {
  align-items: unset !important;
  justify-content: unset !important;
  overflow: scroll;
}
