mat-divider {
  position: absolute;
  border-color: #dddddd;
}

.row {
  display: flex;
}

.col-divider {
  height: 20px;
}

.col-divider:hover{
  cursor: w-resize;
}

.row-divider {
  width: 30px;
}

.row-divider:hover{
  cursor: n-resize;
}
