<div class="table-wrapper">
  <table>
    <mat-divider cdkDrag [vertical]="true" cdkDragLockAxis="x"
                 class="col-divider"
                 *ngFor="let col of ssService.columns"
                 [cdkDragFreeDragPosition]="ssService.getColumnDragPosition(col.num)"
                 (cdkDragEnded)="onColumnDragEnded($event, col.num)"></mat-divider>
    <mat-divider cdkDrag cdkDragLockAxis="y"
                 class="row-divider"
                 *ngFor="let row of ssService.rows"
                 [cdkDragFreeDragPosition]="ssService.getRowDragPosition(row.num)"
                 (cdkDragEnded)="onRowDragEnded($event, row.num)"></mat-divider>
    <tbody>
      <tr>
        <td class="null-cell"></td>
        <td class="col-header-cell" *ngFor="let col of ssService.columns" [style.min-width]="col.widthPx">
          {{col.num}}
        </td>
      </tr>
      <tr *ngFor="let row of ssService.rows">
        <td class="row-header-cell" [style.height]="row.heightPx">{{row.num}}</td>
        <td class="normal-cell" *ngFor="let col of ssService.columns">
        </td>
      </tr>
    </tbody>
  </table>
</div>
